body {
  transition: all 0.3s ease-in-out; /* Example transition effect */
}

.dotted-light {
  --dot-bg: #f1d6c4;
  --dot-color: #dfa57f ;
  --dot-size: 2px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 8%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 8%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
    box-shadow: inset 0 0 4rem 1.5rem rgba(255, 255, 255, 1);
}

.dotted-dark {
  --dot-bg: #032833;
  --dot-color: #0576f8 ;
  --dot-size: 2px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 8%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 8%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
    box-shadow: inset 0 0 4rem 1.5rem #000814;
}

@media (max-width: 400px) {
  .menu-icon {
    display: initial;
    margin-left: 20px;
    cursor: pointer;
  }

  nav > ul {
    display: none;
  }

  nav {
    justify-content: flex-end;
    padding: 0;
    padding-right: 20px;
  }
}
